# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rails secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

development:
  secret_key_base: 86725e780f2a550c4c2af1a044c23b6aee31ea3400e19a2fa25a60e57a9cd6c4ee2ba352fca05644444784f97f745969880eae33a8535531d45e070657e27158

test:
  secret_key_base: 4775bd46239aad4cd07f645e0861fe588b6557fd164ecffd118be3ad9e28c671a3e710fcb30215e8362c5c80bfea9addcf3d4b117f4e3609d949dba94e37961b

# Do not keep production secrets in the repository,
# instead read values from the environment.
production:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
